<style>
  table, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<%= form_tag(developers_path, method: :get, enforce_utf8: false) do %>
  <%= check_box_tag :programming_language_id, @ruby_id, @ruby_id == params[:programming_language_id].to_i %>
  Can write Ruby <br>
  <%= check_box_tag :language_id, @english_id, @english_id == params[:language_id].to_i %>
  Can speak English <br>
  <%= submit_tag "Search", name: nil %>
<% end %>

<br><br>
<table>
  <thead>
    <tr>
      <td>email</td>
      <td>programming_languages</td>
      <td>languages</td>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.email %></td>
        <td><%= developer.programming_language_list %></td>
        <td><%= developer.language_list %></td>
      </tr>
    <%end %>
  </tbody>
</table>